@import './styles/variables.scss';

html{
  font-size:10px;
}

body {
  margin: 0;
  font-family:'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color-dark

}
li{
  list-style: none;
}
ul{
  margin:0;
  padding:0;
}
button{
  background-color: #EA7F28;
  width:12.8rem;
  height: 3.2rem;
  cursor: pointer;
  margin-top:1.2rem;
  font-size:1.4rem;
  color: #ffffff;
  border-radius: 4px;
}
button:active{
  color: #D37324;
  color: #ffffff;
}

.heading__bold{
  font-size: 3.2rem;
  font-style: bold;
}
.heading__regular{
  font-size: 1.8rem;
}
a{
  color: #EA7F28;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}