@import './variables.scss';

.car__details_container{
    display:flex;
    margin: 0 25rem;
    font-size: $font-large;
    justify-content: space-between;
    margin-bottom: 80rem;
}

.car__details_section{
    width: 58%;
}
.car__favorites{
    width: 33%;
    margin-top: $space-large;
    border: 1px solid $primary-color;
    padding: $space-large;
    align-self: flex-start;
}
.car__favorites button{
    float: right;
}
.car__details_section div{
    margin: $space-large 0;
}
@media only screen and (max-width: 720px) {
    .car__details_container{
        flex-direction: column;
        margin:7%;
        width:86%;
    }
    .car__details_section{
        width:100%;
    }
    .car__favorites{
        width:86%;
    }
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
    .car__details_container{
        margin: 0 11rem 80rem;
        width: 72%;
    }
    .car__details_section{
        width: 50%;
    }
 }