@import './variables.scss';

.cars__listing{
    width:66.5%;
    margin-right: $space-large;
}
.cars__listing_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cars__header_title{
    display: flex;
    flex-direction: column;
    margin-top: $space-large;
}
.cars__header_sort{
    width: 36.8%;
    margin: $space-large 0;
    position:relative;
}
.cars__header_sort .dropdown__menu{
    position: absolute;
    width:100%;
    background-color: #ffffff;
}
.pagination__list{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.pagination__list_item{
    padding: $space-large $space-medium;
}
.pagination__list_item span{
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;
}
.pagination__list_item span:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 720px) {
    .cars__listing{
        width: 87%;
        margin: 7%;
    }
    .cars__listing_header{
        flex-direction: column;
    }
    .cars__header_sort{
        width:100%;
    }
    .cars__header_title{
        margin-top:0;
    }
}