@import './variables.scss';

.dropdown__title{
    border: 1px solid #EDEDED;
    padding: $space-small;
    cursor: pointer;
    margin-top: $space-medium;
}
.dropdown__title.close::after{
    content: '\25bc';
    color: $primary-color;
    float:right;
}
.dropdown__title.open::after {
    content: '\25b2';
    color: $primary-color;
    float: right;
}
.dropdown__menu{
    border: 1px solid $primary-color;
    margin-top: $space-medium;
    border-radius: 0.4rem;
}
.dropdown__menu li{
    padding: $space-small;
    border-bottom: 1px solid $primary-color;
}
.dropdown__menu li:hover{
    background-color: #EA7F28;
    cursor: pointer;
}
.dropdown__menu li:last-child{
   border-bottom: none;
}
