@import './variables.scss';

.error__section{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.auto1__logo img{
    width:50%;
}
.error__text{
    width: 28%;
}
.error__text div{
    margin:$space-large 0;
}
.error__main{
    display: flex;
    height: 100vh;
    flex-direction: column;
}