.custom-select{
    width:200px;
    position: relative;
}
.custom-select select{
    display:none;
}
.cars__filter{
    margin:2.4rem;
    border:1px solid #EDEDED;
    padding: 2.4rem;
    height: fit-content;
}
.cars__filter_item{
    margin-bottom:1.2rem;
}
.car__filter_button{
    float: right;
}