@import './variables.scss';

.custom-select{
    width:200px;
    position: relative;
}
.custom-select select{
    display:none;
}
.cars__filter{
    margin: $space-large;
    border:1px solid $primary-color;
    padding: $space-large;
    height: fit-content;
    width:25%;
}
.cars__filter_item{
    margin-bottom: $space-medium;
}
.car__filter_button{
    float: right;
}
@media only screen and (max-width: 720px) {
    .cars__filter{
        width:76%;
        margin: 7%;
        padding: 7%;
    }
}