@import './variables.scss';

header{
    height:8rem;
    display: flex;
    justify-content: space-between;
    font-size:18px;
    font-family: 'Roboto';
    border-bottom: 1px solid #EDEDED;
    align-items: center;
}
.header__menu_list{
    display: flex;
    justify-content: space-evenly;   
}
.header__menu_list li{
    cursor: pointer;
}
.header__menu{
    width:25%;
}
.header__logo{
    width:23.5%;
}
.header__logo img{
    width:50%;
    margin-left: $space-large;
}

@media only screen and (max-width: 720px) {
    .header__logo img{
        width: 83%;
    }
    .header__logo{
        width: 38.5%;
    }
    .header__menu{
        width: 50%;
        font-size: 18px;
        margin-right: $space-large;
    }
}