@import './variables.scss';

.car__info_loading{
    display: flex;
}
.loading__section{
    width:45%;
    margin: $space-large;
    display:flex;
}
.loading__text div{
    background-color: #ededed;
    margin-bottom: $space-small;
    height:1rem;
    width: 40%;
}
.loading__text div:last-child{
    width: 12%;
}

.loading__text div:first-child{
    height: $space-large;
}

