$space-large: 2.4rem;
$space-medium: 1.2rem;
$space-small: 0.8rem;

$primary-color: #EDEDED;
$primary-color-dark: #4A4A4A;
$secondary-color:#EA7F28;
$secondary-color-dark: #D37324;

$font-large: 1.8rem;
$font-medium: 1.4rem;
$font-small: 1.2rem;
